.row
  .col-md-2
  .col-md-8
    .panel.panel-warning
      .panel-heading
        .row
          .col-xs-10 Pull request in queue for merge
          .col-xs-2
            %button.btn.btn-sm.btn-warning{"aria-label": "Left Align"}
              %span.glyphicon.glyphicon-plus{"aria-hidden": "true"}
              Add pull request
      .panel-body
        list will be here
        and it will continue
        %br
        and it will continue more
        %br
        and it will continue some more
  .col-md-2
